body{
     background-color: #0b111b;
     color: #7d8c74;
     font-family: "Arial", "Serif";
     text-align: center;
}

h2{
     font-size: 5rem;
}

.startlogo{
     background-color: #b3dd00;
     width: 1000px;
}
