header{
     font-size: 10vh
     font-family: Copperplate, Papyrus, fantasy;
}

body{
     background-color: #0b111b;
     color: #7d8c74;
     font-family: Copperplate, Papyrus, fantasy;
     text-align: center;
     margin: 0px
}

body.varoleipaa{
     background-color: #0b111b;
     color: #7d8c74;
     font-family: BowlbyOne, sans-serif;
     text-align: center;
     margin: 0px
}

h1{
     font-size: 5rem;
     color: #ee9500;
}

h2{
     font-size: 4rem;
     color: #ee9500;
}

a{
     color: #8e0015;
     text-decoration: none;
}

a:hover{
     text-decoration: underlined;
}
